<?xml version="1.0" encoding="utf-8"?>
<!-- Jen debug build: náhled vykreslení widgetu (adb shell am start -n cz.uhk.macroflow/.widget.WidgetPreviewActivity) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="cz.uhk.macroflow.widget.WidgetPreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
    </application>
</manifest>
